prefs = {
	"log_directory": "logs",
	"downloads_directory": "downloads",
	"artist_folders": True,
	"cover_size": "500",
	"cover_name": "cover.jpg",
	"lyrics_type": "N",
	"include_contributions": False
}

credentials = {
	"username": "",
	"password": "",
	"user_agent": "Mobile|Bugs|4.11.30|Android|5.1.1|SM-G965N|samsung|market",
	"device_id": "gwAHWlkOYX_T8Sl43N78GiaD6Sg_"
}
